#myHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: rgba(3, 3, 3, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 3;
  
        
  }
  .sticky{
      position: fixed;
      top: 0;
      width: 100%;
  }
  #borja{
    border-radius: 50%;
  }
  .itemmenu{
    padding: 5px 20px;
  }